* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  position: relative;
  margin: 0 auto;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  margin: 0 8px;
  padding: 0 36px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #FFF;
}

button:focus,
button:active {
  outline: none;
}

.cancel-button {
  transition: box-shadow 250ms ease-in;
  background-color: #FF4949;
}
.cancel-button:hover {
  box-shadow: 0 10px 16px 0 rgba(255, 73, 73, 0.35);
}

.confirm-button {
  box-shadow: 0 10px 16px 0 rgba(19, 206, 100, 0.35);
  background-color: #13CE66;
}