/* ▼ WHERE YOUR CODE BEGINS */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-color: #E5E5E5;
}

.sr-only {
  z-index: -7721;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.card {
  display: flex;
  flex-grow: 1;
  width: 840px;
  height: 248px;
  padding: 24px 24px 25px 24px;
  background-color: #FFF;
}

.card-image {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin-right: 24px;
  border-radius: 6px;
  background: url('./assets/img-house.jpg') center center no-repeat;
  background-size: cover;
}

.like-button {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 12px;
  top: 12px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: url('./assets/icon-favorite.svg') center center no-repeat;
  background-size: 24px 24px;
  background-color: #FFF;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.plus-badge {
  display: inline-block;
  margin-right: 4px;
  padding: 1px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.428571428571429;
  /* 20 / 14 = 1.428571428571429 */
  text-align: center;
  text-transform: uppercase;
  background-color: #92174D;
  color: #FFF;
}

.property-type span {
  font-size: 16px;
  line-height: 1.25;
  /* 20 / 16 = 1.25 */
  color: #7D858F;
}

.property-rate::before {
  content: '';
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  top: 2px;
  background: url(./assets/icon-star.svg) center center no-repeat;
  background-size: contain
}

.property-rate {
  font-size: 16px;
  line-height: 1.25;
}

.property-rate strong {
  font-weight: 400;
  color: #151B26;
}

.property-rate span {
  color: #7D858F;
}

.card-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #151B26;
}

.property-detail dd span::after {
  content: '\2022';
  margin: 0 8px;
}

.property-detail dd span:last-child::after {
  content: '';
  margin: 0;
}

.property-detail {
  font-size: 14px;
  line-height: 1.428571428571429;
  color: #7D858F;
}

.property-detail div:first-child {
  margin-bottom: 4px;
}